/*
maymar colors 

#C61130  red
#004B8B  blue
#FAEA10  yellow
#E5E4E2  gray

#

#CBC9C5 mid gray button
#B4B6BB dark gray button
*/

/*
  References:
  creating the header bar: FollowAndrew https://www.youtube.com/watch?v=sjrp1FEHnyA

  https://www.discocheetah.com/ 
  https://www.zaytinya.com/
  https://www.wearefoundingfarmers.com/

*/

/* all pages */
html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-size: 2em;
  margin: 0;
  background: rgb(245, 240, 243);
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

h1, h2 {
  color: #C61130;
}

h3, h4 {
  color: #004B8B;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .5);
  background: #fff;
}

.header-logo {
  width: 11em;
  height: 3.5em;
  margin: 2vh 0 2vh 2vh;
}


/* hamburger menu */
  .header-logo {
    float: left;
  }

  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    font-weight: bold;
    /* border: 1pt solid red; */
  }
  
  .menu-bar li:first-child a {
    border-top: 2px solid #aaa;
  }

  .menu-bar li a {
    /* a tags are normally inline. setting it to block allows you to click on the white area next to it */
    display: block;
    padding: 2vh;
    border-right: 1px solid #aaa;
    text-decoration: none;
    border: 1px solid #aaa;
    text-align: center;
    color: #C61130;
  }

  .menu-bar a:hover {
    color: #004B8B;
  }

  .header .menu-bar {
    clear: both;
    max-height: 0px;
    /* menu-bar transition speed */
    transition: max-height .4s ease-out;
  }

  .header .hamburger-icon {
    padding: 55px 30px;
    /* position is relative so the children can be set as absolute */
    position: relative;
    float: right;
    cursor: pointer;
  }


  /* nav-icon */
  .header .hamburger-icon .nav-icon {
    background: #C61130;
    display: block;
    height: 2px;
    width: 30px;
    position: relative;
    transition: background .05s ease-out;
  }

  .header .hamburger-icon .nav-icon::before {
    background: #C61130;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 8px;
  }

  .header .hamburger-icon .nav-icon::after {
    background: #C61130;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -8px;
  }

  .header .hamburger-btn {
    display: none;
  }

  /*  the tilde separates two sequences of selectors. the elements represented by the two sequences share the same parent in the document tree.
  first-sequence occurs THEN(~) second sequence. */
  .header .hamburger-btn:checked ~ .menu-bar {
    max-height: 400px;
  }

  /* nav-icon animation */
  .header .hamburger-btn:checked ~ .hamburger-icon .nav-icon {
    background: transparent;
  }

  .header .hamburger-btn:checked ~ .hamburger-icon .nav-icon::before {
    background: #004B8B;
    transform: rotate(-45deg);
    top: 0;
  }

  .header .hamburger-btn:checked ~ .hamburger-icon .nav-icon::after {
    background: #004B8B;
    transform: rotate(45deg);
    top: 0;
  }
/* END hamburger menu */

/* contact */
.contact a:link {
  text-decoration: none;
  color: #fff;
}

.contact a:hover {
  color: #FAEA10;
}

.contact {
  font-size: 1.7rem;
  background: #004B8B;
  color: #eee;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contact span {
  margin: 1rem 2rem;
}
/* end contact */



/* footer */
footer {
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .5);
  background: #fff;
  font-size: 1.7rem;
}

footer p {
  text-align: center;
}

.social-media {
  display: flex;
  justify-content: center; 
  align-items: flex-start;
  padding: 1.5vh;
}

.social-media a {
  width: 1.5em;
  height: 1.5em;
  margin: .7em;
  align-self: flex-start;
}

.copyright {
  margin: 0;
}
/* end footer */

/* end all pages */


/* index.html-------------------- */

.main-image {
  display: block;
  margin: 0 auto;
  border-radius: 3%;
  /* width: 60vw;
  height: 80vh; */
}

.main-text {
  text-align: center;
}

/* MENU */
.menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.menu-heading {
  text-align: center;
  margin: .5em;
  text-decoration: underline;
}

.menu img {
  border: 1pt solid black;
  margin: 1em;
}


/* END index.html ----------------*/



/* location.html ---------------- */
.location-header {
  text-align: center;
  margin: 0;
  padding: 3vh 0 1vh 0;
}

.location {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  justify-content: center;
  align-items: center;
}

.location h3 {
  margin: 1rem 0 ;
}

.time p {
  margin: .5rem 0;
}

.time, .address {
  margin: 1rem 6rem;
}

.time {
  /* outline: 1px solid red; */
  text-align: center;
}

.map {
  display: flex;
  justify-content: center;
  margin: 3vh;
}

/* END location.html------------------ */



/* menu.html ------------------------- */
.main-menu {
  margin: 0 5%;
}

/* h2 menu headers */
.main-menu div h2 {
  text-align: center;
  text-decoration: underline;
}

.poke-menu-ol, .daily-menu-ul {
  padding-left: 0;
  margin-bottom: 5vh;
}

/* 1st level - headings */
.menu-head {
  margin: 3vh 3vh .5vh 3vh;
  font-weight: bold;
  color: #004B8B;
}

/* 3rd level - descriptions */
.sub-menu-head ul li {
  /* color: red; */
  margin: .5rem 0 .5rem 0;
}

/* daily-menu headings */
.daily-menu-ul .menu-head {
  list-style-type: none;
  margin-left: .5rem;
}



/* END menu.html ------------------------- */


/* -- PHOTOS -- */
.photos {
  /* border: 1pt solid red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photos img {
  /* border: 2pt solid black; */
  width: 17em;
  height: 17em;
  margin: 1em;
}
/* END PHOTOS */


/* large display */
@media (min-width: 960px) {

  .large {
    display: block;
  }

  /* header */
  .header {
    height: 16vh;
  }

  .header li {
    float: left;
  }

  .header li a {
    padding: 20px 30px;
  }

  .header .menu-bar {
    margin: 2.5vh;
    
    clear: none;
    float: right;
    max-height: none;
  }

  .header .menu-bar li a {
    border: none;
    outline: none;
    border-radius: 2vh;
  }

  .header .hamburger-icon {
    display: none;
  }
  /* END header */

} /* large display */
